.invisible {
    margin-left: 200px;
    opacity: 0;
    transition: all 0.5s ease;
    pointer-events: none;
}

.search_invisible {
    margin-right: 200px;
    opacity: 0;
    transition: all 0.5s ease;
    pointer-events: none;
}

.hidden {
    display: none;
}

